html, body {
    background:white;
    color:black;
    font-family: Arial;
    margin:0px;
    max-width: 100%;
    overflow-x: hidden;
}

a {
    color:black;
}

::-webkit-scrollbar {
    height: 0px;
    width: 4px;
    
}

::-webkit-scrollbar-track {
    background:white;
    opacity:0;
    
}

::-webkit-scrollbar-thumb {
    background-color: #494848;
}

::-webkit-scrollbar-corner {
background: #000;

}
    
.section {
    width:100%;
    height:100vh;
    margin:0px;
    padding:50px;
    font-size:20px;
    line-height:25px;
    font-family:'Abel', sans-serif;
}

.section:nth-child(3) {
    background:rgb(229, 130, 130);
}

.section:nth-child(4) {
    background:rgb(247, 210, 90);
}

.section:nth-child(5) {
    background:rgb(132, 178, 243);
}

.section:nth-child(6) {
    background:rgb(231, 159, 64);
}


.section h1 {
    font-family: Arial;
    font-size:60px;
    margin-left:10%;
    color:white;
}


img {
    width: 40vw;
    border: 2px solid white;
    opacity:0.9;
    padding:5px;
    float:left;
    margin-right:20px;
}

.description {
    margin-top:10vh;
    width:80%;
    margin-left:10%;
    font-size:20px;
    line-height:30px;
    display:inline-block;
    font-family:'Tajawal', sans-serif;
}

#exp-pharmacodb h1 {
    color:black;
}

#about .description {
    color:white;
}

#about .description a {
    color:white;
    border-bottom:1px solid white;
}
#exp-ePlant .description {
    color:white;
}

#exp-ePlant .description a {
    color:white;
    border-bottom:1px solid white;
}

#exp-pharmacodb .description img {
    border:2px solid black;
}

.description a {
    text-decoration:none;
    border-bottom: 1px solid black;
    padding-bottom: 1px;
    text-transform: uppercase;
    font-size:20px;
    transition: .3s ease-out;
}

.description a:hover {
    color:black;
    border-bottom: 1px solid black;
    transition: .3s ease-out;
}

#about .description img {
    width:200px;
    height:200px;
    border: 2px solid white;
    padding:5px;
    margin-left:100px;
    margin-right:20px;
    margin-top: 20px;
    border-radius:50%;
    float:left;
}

#sidelinks {
    height:100%;
    top:0;
    padding:30px 0px 30px 30px;
    position:fixed;
   
}

#sidelinks a {
    color:black;
    text-decoration:none;
    display:block;
    margin:0px 0px 30px 0px;
    padding:0px;
    text-align:right;
    text-transform:lowercase;
    font-size:20px;
    font-family:'Abel', sans-serif;
    transition: border .3s ease-out;
    
}

#sidelinks a:hover {
    border-bottom:2px solid black;
    transition: border .3s ease-out;
}

.active {
    border-bottom:2px solid black;
    transition: border .3s ease-out;
}

#plot-container {
    width:500px;
    height:500px;
    margin-left:20%;
    margin-top: 10vh;
    white-space:nowrap;
    display: inline-block;
    /* border:1px solid black; */
}

.d3-container, .d3-half-container {
    font-family: Arial;
    background:white;
    border:2px solid black;
    padding:4px;
    margin-right:5%;
    margin-top:20px;
    font-size:20px;
    line-height:30px;
    display:inline-block;
}

.d3-container {
    width:843px;
    height:500px;
}

#venn {
    height:700px;
}

.d3-half-container {
    width:400px;
}

#projects-d3 {
    padding-bottom:100px;
}

#caption {
    font-family:'Tajawal', sans-serif;
    margin-top:20px;
    width:500px;
}

#caption a {
    text-decoration:none;
    background:black;
    border:1px solid black;
    padding:0px 5px;
    margin-right:10px;
    color:white;
    text-transform: uppercase;
    font-size:18px;
    transition: .3s ease-out;
}

#caption a:hover {
    color:black;
    background:white;
    border:1px solid black;
    transition: .3s ease-out;
}


#footer{
    position:fixed;
    bottom:0px;
    width:100%;
    height:40px;
    background:white;
    opacity:0.7;
    text-align:center;
    padding-top:20px;
    transition: .3s ease-out;
}

#footer:hover {
    opacity:0.8;
    transition: .3s ease-out;
}

#footer a {
    font-size:18px;
    font-family:'Abel', sans-serif;
    margin:0px 50px;
    text-decoration:none;
    text-transform:lowercase;
    color:#000;
    border-bottom:1px solid white;
    transition: border .3s ease-out;
}

#footer a:hover {
    border-bottom:1px solid #000;
    transition: border .3s ease-out;
}




