html, body {
    color:white;
    font-family:'Chivo', sans-serif;
    margin:0px;
    margin-left:2%;
    max-width: 100%;
    /* overflow-x: hidden; */
    background:#e79863;
}


::-webkit-scrollbar {
    height: 0px;
    width: 4px;
    
}

::-webkit-scrollbar-track {
    background:#e79863;
    opacity:0;
    
}

::-webkit-scrollbar-thumb {
    background-color: white;
}

::-webkit-scrollbar-corner {
background: #000;

}
    
.section {
    width:85vw;
    height:100vh;
    margin:0px;
    padding:50px;
    font-size:20px;
    line-height:25px;
    font-family:'Abel', sans-serif;
    background:#e79863;
    /* background-image: linear-gradient(#e88263,#f5b7a3); */
}

/* .section:nth-child(even) {
    background-image: linear-gradient(#f7e0d8,#e88263);
}

.section:nth-child(odd) {
    background-image: linear-gradient(#e88263,#f7e0d8);
} */

/* .section:nth-child(5) {
    background:rgb(241, 202, 92);
}

.section:nth-child(6) {
    background:rgb(233, 159, 75);
} */


.section h1 {
    font-family: Arial;
    font-size:10vh;
    margin-left:150px;
    color:white;
}

h2 {
    font-size: 5vh;
    font-family: Arial; 
    margin-left:160px;
    margin-top:2vh;
}

h2 a {
    color:white;
}

img {
    width: 220px;
    opacity:0.9;
    padding:5px;
    float:left;
    margin-right:20px;
}

.highlight {
    color:rgb(31, 80, 119) !important;
}

.description {
    width:80%;
    margin-left:170px;
    line-height:30px;
    display:inline-block;
    font-family:'Chivo', sans-serif; 
}

.description a {
    text-decoration:none;
    color: rgb(31, 80, 119);
    border-bottom: 1px solid rgb(31, 80, 119) ;
    padding-bottom: 0px;
    transition: .3s ease-out;
}

.description a:hover {
    color:#496C89;
    border-bottom: 1px solid #496C89;
    transition: .3s ease-out;
}

#intro .description {
    font-size:3.5vh;
    margin-top:3vh;
    border-left:5px solid white;
    padding: 20px 30px 0px 30px;
}

.bigger {
    font-size:4.5vh;
}

.smaller {
    font-size:3vh;
}

#intro .description a {
    border-bottom:1px solid black;
}

#intro img {
    width:13vh;
    display:inline-block;
    position:static;
    vertical-align: text-bottom;
    float:none;
    opacity:1;
}

#about .description {
    margin-top:2.8vh;
    margin-bottom:20px;
    font-size:2.8vh;
    border-left:5px solid white;
    padding: 0px 30px 0px 30px;
    line-height:6vh;
}

#experiences .description {
    font-size:2.7vh;
    line-height:5vh;
    border-left:5px solid white;
    padding: 0px 30px 10px 20px;
}

#experiences .description a {
    font-size:2.3vh;
    background:white;
    color:#e79863;
    border:1px solid white;
    padding:1px 3px;
}

#experiences .description a:hover {
    background:#e79863;
    color:white;
    padding:1px 3px;
    border:1px solid white;
}

#experiences h2 {
    padding-top:4vh;
}

#sidelinks {
    height:133px;
    margin-top:160px;
    padding:0px 10px 0px 30px;
    position:fixed;
    color:white;
    /* border-right:1px solid white; */
}

#sidelinks a {
    text-decoration:none;
    color:white;
    display:block;
    margin:-2px 0px 22px 0px;
    padding:0px;
    text-align:right;
    text-transform:uppercase;
    font-size:11px;
    font-weight:bold;
    font-family:Arial;
    transition: border .3s ease-out;
    
}

#sidelinks a:hover {
    transition: all .3s ease-out;
}

#sidelink-dot {
    height:100%;
    top:0;
    margin-left:86px;
    margin-top:130px;
    padding:30px 0px 30px 30px;
    position:fixed;
    color:white;
}

#sidelink-dot a {
    width:8px;
    height:8px;
    margin:0px 0px 22px 0px;
    padding:0px;
    display:block;
    border-radius:50%;
    background:#e88263;
    border:1px solid white;
    transition: all .3s ease-out;
}

#sidelink-dot a:hover {
    background:white;
    transition: all .3s ease-out;
}

.active {
    background:white !important;
    border:1px solid white !important;
    transition: all .3s ease-out;
}

#plot-container {
    width:500px;
    height:500px;
    margin-left:220px;
    margin-top: 10vh;
    white-space:nowrap;
    display: inline-block;
    /* border:1px solid black; */
}

.d3-container, .d3-half-container {
    background:white;
    border:2px solid black;
    font-family:'Chivo', sans-serif;
    padding:4px;
    margin-right:5%;
    margin-top:20px;
    font-size:20px;
    line-height:30px;
    display:inline-block;
}

.d3-container {
    width:843px;
    height:500px;
}

#venn {
    height:700px;
}

.d3-half-container {
    width:400px;
}

#projects-d3 {
    padding-bottom:100px;
}

#caption {
    margin-top:20px;
    width:500px;
    font-family:'Chivo', sans-serif;
}

#caption a {
    text-decoration:none;
    background:white;
    border:1px solid white;
    padding:5px 5px 3px 5px;
    margin-right:10px;
    color:#e79863;
    text-transform: lowercase;
    font-size:18px;
    transition: .3s ease-out;
}

#caption a:hover {
    color:white;
    background:#e79863;
    border:1px solid white;
    transition: .3s ease-out;
}


#footer{
    position:fixed;
    bottom:0px;
    width:100%;
    height:40px;
    text-align:center;
    padding-top:20px;
    background:#e79863;
    z-index:99999;
}



#footer a {
    font-size:14px;
    font-weight:bold;
    font-family:Arial;
    margin:0px 50px;
    letter-spacing:1px;
    text-decoration:none;
    text-transform:uppercase;
    color:#496C89;
    padding-bottom:2px;
    border-bottom:1px solid #496C89;
    transition: all .3s ease-out;
}

#footer a:hover {
    color:white;
    border-bottom:1px solid white;
    transition: all .3s ease-out;
}




